img.mat-card-image {
  min-height: 450px;
  max-height: 450px;
  cursor: pointer;
}

.mat-card {
  min-height: -webkit-fill-available;
}

.card-title {
  display: flex;
  justify-content: space-between;
}

.rare {
  border: 3px solid goldenrod;
  border-radius: 1px;
  color: goldenrod;
}
