<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{comic.title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div
      class="loading"
      *ngIf="loading"
    >
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
    <div fxFlex fxLayout="column">
      <div fxLayout="row wrap" *ngIf="!loading">
        <div
          fxFlex="25"
          fxFlex.md="33"
          fxFlex.sm="50"
          fxFlex.xs="100"
          fxLayout="column"
        >
          <img
            mat-card-image
            src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}"
            alt="{{comic.title}}"
          >
        </div>
        <div>
          <h1>Published: {{comic.dates[0].date | date}}</h1>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
