<app-page-card
  name="Events"
  searchPlaceholder="Name"
  [paginator]="paginator"
  (search)="onSearch($event)"
  (pageEvent)="onPageChanged($event)"
>
  <div class="loading"  *ngIf="loading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  <div fxFlex fxLayout="column">
    <div fxLayout="row wrap" *ngIf="!loading">
      <div
        fxFlex="25"
        fxFlex.md="33"
        fxFlex.sm="50"
        fxFlex.xs="100"
        fxLayout="column"
        *ngFor="let event of allEvents"
        style="padding: 5px;"
      >
        <mat-card>
          <img mat-card-image src="{{event.thumbnail.path}}.{{event.thumbnail.extension}}" alt="{{event.title}}">
          <mat-card-title>
            {{event.title}}
          </mat-card-title>
          <mat-card-footer>
            <a href="{{event.urls[0].url}}" target="_blank" fxFlex mat-flat-button color="primary">Detalhes</a>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>
</app-page-card>
