/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.mat-card {
  min-height: -webkit-fill-available;
}

.flex-card {
  display: flex !important;
  flex-direction: column !important;
}

img.mat-card-image {
  min-height: 374px;
  max-height: 374px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

*:focus {
  outline: none !important;
}
